
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        @*DETALLE PRODUCTO*@
                        <div class="col-sm-9"></div>
                        
                        @*DETALLE ENVIO*@
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>  
                                        <div class="mb-2">
                                            <label for="cbodepartamento" class="form-label">Departamento</label>
                                            <select class="form-select form-select-sm" id="cbodepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbomunicipio" class="form-label">Municipio</label>
                                            <select class="form-select form-select-sm" id="cbomunicipio"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbozona" class="form-label">Zona</label>
                                            <select class="form-select form-select-sm" id="cbozona"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="example" class="form-label">Nombre Contacto:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="example" class="form-label">Direccion:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="example" class="form-label">Telefono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off" />
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i  class="fab fa-paypal"></i> Terminar y Procesar Pago
                                            </button>
                                        </div>

                                    </form>
                                </div>   
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>